In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv(r"C:\Users\dell\Desktop\IrisData-1.csv")

In [6]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
df.info

<bound method DataFrame.info of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [8]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [9]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [10]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [12]:
# encoding 

df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
df.nunique()

Id               150
SepalLengthCm     35
SepalWidthCm      23
PetalLengthCm     43
PetalWidthCm      22
Species            3
dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [18]:
df['Species'] = le.fit_transform(df['Species'])

In [20]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [22]:
df.tail()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

In [25]:
# scaling 

from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()

In [27]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [29]:
x = df.drop(['Species','Id'],axis=1)
y = df['Species']

In [31]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [32]:
newx = minmax.fit_transform(x)

In [34]:
x = pd.DataFrame(newx,columns=['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm'])

In [36]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0       0.222222      0.625000       0.067797      0.041667
1       0.166667      0.416667       0.067797      0.041667
2       0.111111      0.500000       0.050847      0.041667
3       0.083333      0.458333       0.084746      0.041667
4       0.194444      0.666667       0.067797      0.041667

In [37]:
df = pd.concat([x,y],axis=1)

In [38]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0       0.222222      0.625000       0.067797      0.041667        0
1       0.166667      0.416667       0.067797      0.041667        0
2       0.111111      0.500000       0.050847      0.041667        0
3       0.083333      0.458333       0.084746      0.041667        0
4       0.194444      0.666667       0.067797      0.041667        0

In [39]:
# SVM machine learning algorithm

In [40]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0         0.222222      0.625000       0.067797      0.041667        0
1         0.166667      0.416667       0.067797      0.041667        0
2         0.111111      0.500000       0.050847      0.041667        0
3         0.083333      0.458333       0.084746      0.041667        0
4         0.194444      0.666667       0.067797      0.041667        0
..             ...           ...            ...           ...      ...
145       0.666667      0.416667       0.711864      0.916667        2
146       0.555556      0.208333       0.677966      0.750000        2
147       0.611111      0.416667       0.711864      0.791667        2
148       0.527778      0.583333       0.745763      0.916667        2
149       0.444444      0.416667       0.694915      0.708333        2

[150 rows x 5 columns]

In [41]:
x = df.drop('Species',axis=1)
x1 = pd.DataFrame(x)
y = df['Species']
y1 = pd.DataFrame(y)

In [42]:
from sklearn.model_selection import train_test_split
x1_train,x1_test,y1_train,y1_test = train_test_split(x1,y1,test_size=0.25,random_state=42)

In [43]:
print(x1_train)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
4         0.194444      0.666667       0.067797      0.041667
32        0.250000      0.875000       0.084746      0.000000
142       0.416667      0.291667       0.694915      0.750000
85        0.472222      0.583333       0.593220      0.625000
86        0.666667      0.458333       0.627119      0.583333
..             ...           ...            ...           ...
71        0.500000      0.333333       0.508475      0.500000
106       0.166667      0.208333       0.593220      0.666667
14        0.416667      0.833333       0.033898      0.041667
92        0.416667      0.250000       0.508475      0.458333
102       0.777778      0.416667       0.830508      0.833333

[112 rows x 4 columns]

In [44]:
print(y1_train)

     Species
4          0
32         0
142        2
85         1
86         1
..       ...
71         1
106        2
14         0
92         1
102        2

[112 rows x 1 columns]

In [45]:
from sklearn.svm import SVC

In [46]:
svm = SVC(kernel='rbf')

In [47]:
model = svm.fit(x1_train,y1_train)
y1_pred = model.predict(x1_test)

C:\Users\dell\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [48]:
y1_pred

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0])

In [52]:
from sklearn.metrics import accuracy_score,precision_score

In [53]:
print("the accuracyscore is:",accuracy_score(y1_test,y1_pred))

the accuracyscore is: 1.0

In [55]:
print(precision_score(y1_test,y1_pred,average="macro"))

1.0